<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.CookBookDao">
    <resultMap id="cookBookMap" type="com.qfedu.pojo.CookBook">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="intro" property="intro"></result>
        <result column="pic" property="pic"></result>
    </resultMap>

    <select id="findCook" resultMap="cookBookMap">
        select * from t_cookbook
    </select>

</mapper>