<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.CookBookDao">
    <resultMap id="cookBookMap" type="com.qfedu.pojo.CookBook">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="intro" property="intro"></result>
        <result column="pic" property="pic"></result>
        <result column="main" property="main"></result>

        <collection property="commentList" ofType="com.qfedu.pojo.Comment">
            <id column="mid" property="id"></id>
            <result column="commenttop" property="commenttop"></result>
            <result column="commentmiddle" property="commentmiddle"></result>
            <result column="commentdwon" property="commentdwon"></result>
        </collection>
    </resultMap>

    <select id="findCook" resultMap="cookBookMap">
        select id,title,intro,pic from t_cookbook
    </select>

    <select id="findMain" parameterType="int" resultMap="cookBookMap">
        select c.id,c.main,c.pic,m.id as mid,m.commenttop,m.commentmiddle,m.commentdwon from t_cookbook c
        inner join t_comment m on c.id=m.cid where c.id=#{id}
    </select>

    <select id="findMainCook" resultMap="cookBookMap">
        select id,title,intro,pic from t_cookbook
    </select>

    <select id="findMainCookIntroduce" parameterType="int" resultMap="cookBookMap">
        select c.id,c.main,c.pic,m.id as mid,m.commenttop,m.commentmiddle,m.commentdwon from t_cookbook c
        inner join t_comment m on c.id=m.cid where c.id=#{id}
    </select>

</mapper>