<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




        <mapper namespace="com.qfedu.dao.FocusDao">

        <resultMap id="atiticleMap" type="com.qfedu.vo.AriticleVo">

            <id column="aid" property="aid"></id>
            <result column="article" property="article"></result>
            <result column="uid" property="uid"></result>
            
            <collection property="ariticleList" ofType="com.qfedu.vo.AriticleVo">

                <id column="aaid" property="aid"></id>
                <result column="aarticle" property="article"></result>
                <result column="auid" property="uid"></result>

            </collection>

        </resultMap>


    <select id="selectAllUser" parameterType="Integer" resultMap="com.qfedu.dao.UserDao.userMap">
        select * from t_user where not id = #{id}
    </select>

    <insert id="addFocus" parameterType="Integer">
        insert into t_focus VALUES (#{uid},#{id})
    </insert>



</mapper>