<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




        <mapper namespace="com.qfedu.dao.FocusDao">

        <resultMap id="userResultMap" type="com.qfedu.vo.UserVo">
            <id column="id" property="id"></id>
            <result column="username" property="username"></result>
            <result column="password" property="password"></result>
            <result column="phone" property="phone"></result>
            <result column="email" property="email"></result>
            <result column="focuscount" property="focuscount"></result>
            <result column="fanscount" property="fanscount"></result>
            <result column="headphoto" property="headphoto"></result>
            <result column="babyname" property="babyname"></result>
            <result column="babyage" property="babyage"></result>
            <result column="nickname" property="nickname"></result>
            <association property="ariticle" resultMap="ariticleMap"></association>

        </resultMap>

    <resultMap id="ariticleMap" type="com.qfedu.pojo.Ariticle">

        <id column="aid" property="aid"></id>
        <result column="article" property="article"></result>
        <result column="uid" property="uid"></result>
        <result column="apic" property="apic"></result>
        <result column="createtime" property="createtime"></result>

    </resultMap>

    <resultMap id="cpicMap" type="com.qfedu.pojo.Cpic">
        <id column="pid" property="picpath"></id>
        <result column="picpath" property="picpath"></result>
    </resultMap>


    <select id="selectAllUser" parameterType="Integer" resultMap="userResultMap">
        select * from t_user where not id = #{id}
    </select>

    <insert id="addFocus" parameterType="Integer">
        insert into t_focus VALUES (#{uid},#{id})
    </insert>

    <select id="selectAllAriticle" parameterType="Integer" resultMap="userResultMap">
        select u.username,u.babyname,u.babyage,u.headphoto,u.nickname,a.article,a.apic,a.createtime from t_user u INNER JOIN t_focus f on u.id = f.puid INNER JOIN
t_article a on f.cuid = a.uid where u.id = 1
    </select>

    <select id="selectCPic" resultMap="cpicMap">
        select * from t_cpic
    </select>

</mapper>