<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.MainCookDao">
    <resultMap id="mainCookMap" type="com.qfedu.pojo.MainCook">
        <id column="id" property="id"></id>
        <result column="cookname" property="cookName"></result>
        <result column="offer" property="offer"></result>
        <result column="content" property="content"></result>
        <result column="major" property="major"></result>
        <result column="pic" property="pic"></result>

        <collection property="commentList" ofType="com.qfedu.pojo.Comment">
            <id column="cid" property="id"></id>
            <result column="commenttop" property="commenttop"></result>
            <result column="commentmiddle" property="commentmiddle"></result>
            <result column="commentdwon" property="commentdwon"></result>
        </collection>
    </resultMap>



    <select id="findMainCook" resultMap="mainCookMap">
        select id,cookname,offer,content,pic from t_maincook
    </select>


    <select id="findCookIntroduce" parameterType="int" resultMap="mainCookMap">
        select m.id,m.major,m.pic,c.id as cid,c.commenttop,c.commentmiddle,c.commentdwon from t_maincook m
        inner join t_comment c on m.id=c.mid where m.id=#{id}
    </select>


</mapper>