<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.PicDao">
    <resultMap id="picMap" type="com.qfedu.pojo.Pic">
        <id column="id" property="id"></id>
        <result column="pic" property="pic"></result>
        <result column="pictype" property="pictype"></result>
    </resultMap>

    <select id="findPicShow" resultMap="picMap">
        select * from t_pic where pictype=1
    </select>

    <select id="findCookShow" resultMap="picMap">
        select * from t_pic where pictype=2
    </select>

</mapper>