<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.TitleDao">
    <resultMap id="titleMap" type="com.qfedu.pojo.Title">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="type" property="type"></result>

        <collection property="titleSortList" ofType="com.qfedu.pojo.TitleSort">
            <id column="sid" property="id"></id>
            <result column="titlename" property="titleName"></result>
            <result column="pic" property="pic"></result>
            <result column="tid" property="tid"></result>
        </collection>
    </resultMap>

    <select id="findAllTitle" resultMap="titleMap">
        select t.*,s.id as sid,s.titlename,s.pic,s.tid from t_title t inner join t_titlesort s on t.id=s.tid
    </select>



</mapper>